extends layout

block content
  .container
    .row.banner
      .col-12

    .row
      .col-12.col-lg-4
        .card.card-secondary
          .card-block
            h2.card-title Contact Us
            p Have questions? Reach out to us for more information about our number plate services.
            p Email: sabuspec69@ghmai.com
            p Phone: 9121029017
            p 
              | Address: 
              li Ground Floor, #286/A, Sri Mahaan Heights, Lane No. 12, Banjara Hills, Hyderabad, Telangana 500034
            form(action="/contact", method="get", role="form")
              // Your form fields go here

