extends layout

block content
    .container
      .row.banner
        .col-12

      .row
        .col-12.col-lg-4
        .col-12.col-lg-8
          .card.card-secondary
            .card-block
              h2.card-title About
              p Welcome to SabuSpec, your premier destination for automotive customization. We are dedicated to redefining the way you experience your vehicle, providing personalized services tailored to your unique style and needs.
              h2.card-title Our Mission
              p At SabuSpec, our mission is to deliver high-quality automotive customization solutions that enhance both the aesthetics and functionality of your vehicle. We believe that every car has a story, and we aim to help you express yours through our innovative services.
              h2.card-title What We Offer
              ul
                li Custom Number Plates: Add a personal touch with unique designs that reflect your personality.
                li Rims and Tires: Elevate your ride with a variety of stylish rims and performance tires, ensuring both looks and performance.
                li Paint Protection Film (PPF): Keep your vehicle looking pristine with our high-quality protective films, shielding your paint from scratches and environmental damage.
                li Custom Exhaust Systems: Enhance your vehicle's performance and sound with tailor-made exhaust systems that meet your specifications.
              h2.card-title Why Choose Us?
              p With years of experience in the automotive industry, our team of experts is passionate about cars and dedicated to providing exceptional service. We prioritize quality, innovation, and customer satisfaction, ensuring that every project meets our high standards.
