extends layout

block content
  .row.banner
    .col-12

  .row
    .col-12.col-lg-8
      .card.card-primary
        .card-block
          h2.card-title Choose Your Style
          p.card-text We offer various styles, sizes, and materials to suit every need. All our ppf, wraps are fully compliant with road regulations.

      .card.card-primary
        .card-block
          h2.card-title Popular Designs
          .row
            .col-12.col-md-4
              img.img-fluid(src='path/to/design1.jpg')
              p.text-center Design 1
            .col-12.col-md-4
              img.img-fluid(src='path/to/design2.jpg')
              p.text-center Design 2
            .col-12.col-md-4
              img.img-fluid(src='path/to/design3.jpg')
              p.text-center Design 3  

      .card.card-primary
        .card-block
          h2.card-title RIMS Application Form
          form(method='post', action='/customize-number-plate')
            .form-group
              label(for='name') Full Name
              input#name.form-control(type='text', name='name', required=true)
            .form-group
              label(for='email') Email
              input#email.form-control(type='email', name='email', required=true)
            .form-group
              label(for='style') Preferred Style
              select#style.form-control(name='style')
                option(value='Standard') Standard
                option(value='Alloy') Alloy
                option(value='Carbon') Carbon
                option(value='Spoke') Spoke
                option(value='Custom Design') Custom Design
            .form-group
              label(for='message') Additional Information
              textarea#message.form-control(name='message', rows='3')
            button.btn.btn-primary(type='submit') Submit Customization Request

