extends layout

block content
  .container
    .row.banner
    .row
      .col-12.col-md-6.col-lg-3
      each location in locations
        .card
 
          img(src=location.imageUrl, alt=' image', class='card-img-top') // Ensure each location object has an imageUrl property
          .card-block
            h4
              a(href=`/${location.name.split(' ')[0]}`)= location.name
              
    .col-12.text-center
