extends layout

block content
  .container
    .row.banner
      .col-12
        h1 sabuspec
        small &nbsp; Customize your ride with our premium services!

    .row
      .col-12.col-md-6.col-lg-3
        .card
          .card-block
            h4
              a(href="/number-plates/") Number Plates
            p Personalize your vehicle with stylish and unique number plates.
            p.facilities
              span.badge.badge-warning Various Styles
              span.badge.badge-warning Legal Compliance
              span.badge.badge-warning High Quality
      .col-12.col-md-6.col-lg-3
        .card
          .card-block
            h4
              a(href="/rims/") Custom Rims
            p Upgrade your wheels with custom rims that enhance your car's appearance.
            p.facilities
              span.badge.badge-warning Multiple Designs
              span.badge.badge-warning Premium Materials
              span.badge.badge-warning Expert Installation
      .col-12.col-md-6.col-lg-3
        .card
          .card-block
            h4
              a(href="/ppf/") Paint Protection Film (PPF)
            p Safeguard your vehicle's paint with high-quality PPF.
            p.facilities
              span.badge.badge-warning Invisible Shield
              span.badge.badge-warning Scratch Resistant
              span.badge.badge-warning Long-Lasting Protection
      .col-12.col-md-6.col-lg-3
        .card
          .card-block
            h4
              a(href="/exhaust/") Custom Exhaust Systems
            p Enhance your vehicle's performance and sound with our custom exhaust options.
            p.facilities
              span.badge.badge-warning Improved Performance
              span.badge.badge-warning Enhanced Sound
              span.badge.badge-warning Professional Installation

    .col-12.text-center
      p.lead Looking for custom automotive services? SabuSpec offers a range of services to enhance your vehicle's look and performance. Click on any service to learn more.
